{{argh_decorators}}def {{function_name}}({{function_arguments}}):
    """{{description_short}}.

{% if description_long %}
{{description_long}}

{% endif %}
    Args:
{{arguments_description}}
    Returns:
        dict: dictionary with the result.
    """
    c = {{class_name}}(
{{class_arguments}}    )
    return {{return_dict}}
